Repository pax-app/Frontend, pull requests merged in 2019-10, with the labels that each got.

#3 Chat Screen
  android/app/build.gradle
  android/app/google-services.json
  android/build.gradle
  android/gradle.properties
  assets/illustrations/circle-pattern.png
  assets/illustrations/finish-provider.png
  lib/blocs/main_bloc.dart
  lib/blocs/provider_bloc.dart
  lib/blocs/user_bloc.dart
  lib/components/avaliation_card/avaliation_card.dart
  lib/components/base_screen/base_screen.dart
  lib/components/button /button.dart
  lib/components/chat/chat_app_bar.dart
  lib/components/chat/chat_input.dart
  lib/components/chat/chat_list.dart
  lib/components/chat/date_bubble.dart
  lib/components/chat_tile/chat_tile.dart
  lib/components/drawer/drawer_head.dart
  lib/components/drawer/drawer_user.dart
  lib/components/message/message.dart
  lib/components/photo_profile/photo_profile.dart
  lib/components/provider_panel_card/provider_panel_card.dart
  lib/components/simple_tile/simple_tile.dart
  lib/components/stars_avaliation/stars_avaliation.dart
  lib/components/text_input/text_input.dart
  lib/main.dart
  lib/models/Provider.dart
  lib/models/avaliation.dart
  lib/models/user.dart
  lib/screens/became_provider_screen/became_provider_screen.dart
  lib/screens/became_provider_screen/became_provider_tabs/finish_provider_tab.dart
  lib/screens/became_provider_screen/became_provider_tabs/info_tab.dart
  lib/screens/became_provider_screen/became_provider_tabs/teste.dart
  lib/screens/category_screen/category_screen.dart
  lib/screens/category_screen/expansion_category_tab.dart
  lib/screens/chat_screen/chat_screen.dart
  lib/screens/config_screen/config_screen.dart
  lib/screens/config_screen/tabs/edit-password.dart
  lib/screens/config_screen/tabs/edit-profile.dart
  lib/screens/home_screen/home_screen.dart
  lib/screens/my_conversations/my_conversations.dart
  lib/screens/perfil_screen/perfil_screen.dart
  lib/screens/price_range_screen/price_range_screen.dart
  lib/screens/provider_panel/provider_panel.dart
  lib/services/.gitkeep
  lib/services/api.dart
  lib/theme/colors.dart
  lib/theme/theme.dart
  paxmmit
  pubspec.yaml
Labels: Chat, Sprint 08, enhancement

#5 183 melhorias fluxo prestador
  lib/models/Provider.dart
  lib/screens/became_provider_screen/became_provider_screen.dart
  lib/screens/became_provider_screen/became_provider_tabs/finish_provider_tab.dart
  lib/screens/became_provider_screen/became_provider_tabs/provider_bottom_sheet.dart
Labels: Provider, bug, enhancement

#6 184 continuacao chat
  lib/components/base_bottom_sheet/base_bottom_sheet.dart
  lib/components/button /button.dart
  lib/components/chat/chat_address_list.dart
  lib/components/chat/chat_input.dart
  lib/models/Address.dart
  lib/screens/became_provider_screen/became_provider_tabs/provider_bottom_sheet.dart
  lib/screens/chat_screen/chat_address_bottom_sheet.dart
  lib/screens/chat_screen/chat_bottom_sheet.dart
  lib/screens/chat_screen/chat_cep_bottom_sheet.dart
  lib/screens/chat_screen/chat_screen.dart
  lib/screens/home_screen/home_screen.dart
  lib/screens/my_conversations/my_conversations.dart
Labels: Chat, enhancement
